<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context.xsd">

        <bean id="driver" class="java.lang.String">
                <constructor-arg type="java.lang.String" value="${db.driver}"/>
        </bean>

        <context:property-placeholder location="classpath:application.properties"/>
        <context:component-scan base-package="ru.filche.dmdev">
                <context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>
                <context:include-filter type="regex" expression="ru\..+Repository"/>
                <context:include-filter type="assignable" expression="ru.filche.dmdev.database.repository.CrudRepository"/>
        </context:component-scan>
<!--        <bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">-->
<!--                <property name="locations" value="application.properties"/>-->
<!--        </bean>-->

<!--вместо-->
<!--        <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>-->
<!--надо-->
<!--        <context:annotation-config/>-->
<!--        <property name="properties">-->
<!--                <map>-->
<!--                        <entry key="url" value="postgresurl"/>-->
<!--                        <entry key="password" value="123"/>-->
<!--                        <entry key="driver" value-ref="driver"/>-->
<!--                        <entry key="test" value="#{driver.length() > 10}"/>-->
<!--                        <entry key="test1" value="#{driver.length() > T(Math).random() * 10}"/>-->
<!--                        <entry key="hosts" value="#{'${db.hosts}'.split(',')}"/>-->
<!--                        <entry key="currentUser" value="#{systemProperties['user.name']}"/>-->
<!--                </map>-->
<!--        </property>-->
</beans>